@CHARSET "UTF-8";

body{
	margin:50px;
	font-family: courier;
	//background-size: cover; 
	//background: url("../images/fondo_viajes.jpg") fixed;
	//background-repeat: no-repeat;
	//overflow: auto;
    //weight: 100%;
}

header{
	text-align: center;
}






